    <section id="wrapper" class="login-register login-sidebar" style="background-image:url(../../../assets/assets/images/background/login-register.jpg);">
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" id="loginform" action="index.html"
                (ngSubmit)="iniciar_sesion()"   
                [formGroup]="loginForm"
                >
                    <a href="javascript:void(0)" class="text-center db"><img src="../../../assets/assets/images/logo-icon.png" alt="Home" /><br/><img src="../../../assets/assets/images/logo-text.png" alt="Home" /></a>
                    <br><br>
                    <h3 class="box-title m-b-20">Inicio de Sesión</h3>
                    <div class="form-group m-t-40">
                        <div class="col-xs-12">
                            <input class="form-control" formControlName="nombre" type="text" required="" placeholder="Usuario">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col text-danger">
                            <p *ngIf="campovalido('nombre')">El usuario es invalido</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" formControlName="contrasenia" type="password" required="" placeholder="Contraseña">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-danger">
                            <p *ngIf="campovalido('contrasenia')">La contraseña es invalida</p>
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="submit" >Acceder</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>